*{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
}
.first-part{
    display: flex;
    width: 90%;
}
.border{
    border-left: 7px solid;
    border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    border-image-slice: 1;
}
.half-width{
    width: 40%%;
}
.half-width img{
    width: 50%
}
#fix-img{
    margin-left: 30%;
    margin-top: 0%;
}
.font-size{
    font-size: 45px;
    font-weight: 700;
}
.fix-gap{
    margin-top: 20px;
}
.batton{
    text-decoration: none;
    padding: 8px 15px;
    background-image: linear-gradient(tomato, rgba(0,0,0,0) );
}
.orange{
    color: orange;
}
.my-mission{
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    margin-top: 120px;
}
.secound-part-display{
    display: flex;
    margin-left: 150px;
}
.width{
    width: 30%;
}
.illustrator-img{
    height: 100px;
    width: 100px;
}
.text-edit{
    text-align: left;
}
#first-bg-color{
    background-color: rgb(233, 222, 222);
    border-radius: 15px;
    
}
#second-bg-color{
    background-color: rgb(241, 187, 214);
    border-radius: 15px;
   
}
#third-bg-color{
    background-color: rgb(233, 218, 192);
    border-radius: 15px;
    
}
.third-part-display{
    display: flex;
    width: 80%;
    background-image: url(img/shape-1.png);
    
}
.backround-img{
    background-image: url(img/shape-1.png);
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    background-position: left;
    background-size: contain;
   
}
.third-part-img{
    
    height: 800px;
    width: 800px;
    margin-right: 0, auto;
}
.fix-third-display{
    width: 40%;
    margin-left: 0, auto;
}
