*{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
}
.first-part{
    display: flex;
    width: 90%;
    margin-left: 100px;
}
.border{
    border-left: 7px solid;
    border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    border-image-slice: 1;
}
.half-width{
    width: 40%%;
}
.half-width img{
    width: 50%
}
#fix-img{
    margin-left: 20px;
    margin-top: 0%;
}
.font-size{
    font-size: 45px;
    font-weight: 700;
}
.fix-gap{
    margin-top: 50px;
}
.batton{
    text-decoration: none;
  
    background-image: linear-gradient(tomato, rgba(0,0,0,0) );
    padding: 10px 30px;
    border-radius: 7px;
    margin-top: 30px;
}
.orange{
    color: orange;
}
.my-mission{
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    margin-top: 120px;
}
.secound-part-display{
    display: flex;
    margin-left: 90px;
}
.width{
    width: 30%;
}
.illustrator-img{
    height: 100px;
    width: 100px;
}
.sec-text{
    padding-left: 15px;
    padding-bottom: 10px;
}
#first-bg-color{
    background-color: rgb(233, 222, 222);
    border-radius: 15px;
    
}
#second-bg-color{
    background-color: rgb(241, 187, 214);
    border-radius: 15px;
   
}
#third-bg-color{
    background-color: rgb(233, 218, 192);
    border-radius: 15px;
    
}
.develop-part{
    display: flex;
    margin-top: 100px;
   
}
.width-thied-part{
    width: 50%;
    margin-left: 0% auto;
}
.text-fix{
    width: 80%;
}
.width-thied-part img{
    width: 350px;
    height: 350px;
    margin-left: 150px;
}
.width-forth-part img{
    width: 350px;
    height: 350px;
    margin-left: 100px;
}
.width-forth-part{
    width: 50%;
    margin-left: 0% auto;
}
.alinment{
    padding-left: 100px;
    padding-top: 50px;
}
.footer-box{
    width: 100%;
    height: 150px;
    background-color: black;
    text-align: center;
}
.white-colour{
    color: white;
}
.text-div{
   padding-top: 15px;
}






